body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 10px;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 10px;
}

.content {
    display: flex;
    justify-content: center;
    max-width: 1200px; /* Limita a largura total da página */
    margin: auto; /* Centraliza a div .content */
    margin-bottom: 100px; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%; /* Define a largura do formulário */
}

.table-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* Defina a largura da tabela */
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal quando necessário */
    padding: 10px;
    max-height: 965px;
}

#monitorias-table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
    
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    color: #555;
    font-size: 12px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: -5px;
}

textarea {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    height: 35px;
}

input[type="submit"],
#registrar_nova_monitoria {
    background-color: #4CAF50;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    padding: 12px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: calc(50% - 10px); /* Ajusta a largura dos botões */
    font-size: 16px;
    text-align: center;
}

input[type="submit"]:hover,
#registrar_nova_monitoria:hover {
    background-color: #45a049;
}

#mensagem_registro {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    border-radius: 5px;
}

.mensagem_oculta {
    display: none;
}

#monitorias-table table {
    width: 100%;
    border-collapse: collapse;
}

#monitorias-table th,
#monitorias-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#monitorias-table th {
    background-color: #f2f2f2;
}

#monitorias-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#monitorias-table tbody tr:hover {
    background-color: #f2f2f2;
}
