body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 800px; /* Defina uma largura máxima maior para acomodar as duas colunas */
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox para criar duas colunas */
    flex-wrap: wrap; /* Permita que os elementos do formulário quebrem para a próxima linha */
}

/* Estilo para a primeira coluna */
.form-col {
    width: calc(50% - 10px); /* Defina a largura para ocupar metade do espaço disponível */
    margin-right: 20px; /* Adicione margem à direita para separar as colunas */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: calc(100% - 10px); /* Reduza a largura dos campos de entrada */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    height: 40px;
}

input[type="submit"],
#registrar_nova_monitoria {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover,
#registrar_nova_monitoria:hover {
    background-color: #45a049;
}

#mensagem_registro {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    border-radius: 5px;
}

.mensagem_oculta {
    display: none;
}
