<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Monitoria</title>
    <style>
        .mensagem_oculta {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Registro de Monitorias</h1>
    <form id="formulario_monitoria" action="/registrar" method="post">
        <label for="nome_analista">Nome do Analista:</label><br>
        <input type="text" id="nome_analista" name="nome_analista" required {% if mensagem %}value="{{ request.form.nome_analista }}"{% endif %}><br>

        <label for="projeto">Projeto:</label><br>
        <input type="text" id="projeto" name="projeto" required {% if mensagem %}value="{{ request.form.projeto }}"{% endif %}><br>
        
        <label for="data">Data:</label><br>
        <input type="date" id="data" name="data" required {% if mensagem %}value="{{ request.form.data }}"{% endif %}><br>
        
        <label for="id_atendimento">Call_ID / Interaction:</label><br>
        <input type="text" id="id_atendimento" name="id_atendimento" required {% if mensagem %}value="{{ request.form.id_atendimento }}"{% endif %}><br>

        <label for="chamado">Numero do chamado:</label><br>
        <input type="number" id="chamado" name="chamado" required {% if mensagem %}value="{{ request.form.chamado }}"{% endif %}><br>
        
        <label for="duracao">Duração (em minutos):</label><br>
        <input type="number" id="duracao" name="duracao" required {% if mensagem %}value="{{ request.form.duracao }}"{% endif %}><br>
        
        <label for="nome_cliente">Nome do Cliente:</label><br>
        <input type="text" id="nome_cliente" name="nome_cliente" required {% if mensagem %}value="{{ request.form.nome_cliente }}"{% endif %}><br>
        
        <label for="categoria">Tipo de atendimento:</label><br>
        <select id="categoria" name="categoria" required>
            <option value="Acessos" {% if mensagem and request.form.categoria == 'Acessos' %}selected{% endif %}>Acessos</option>
            <option value="Hardware" {% if mensagem and request.form.categoria == 'Hardware' %}selected{% endif %}>Hardware</option>
            <option value="Software" {% if mensagem and request.form.categoria == 'Software' %}selected{% endif %}>Software</option>
            <option value="Consulta" {% if mensagem and request.form.categoria == 'Consulta' %}selected{% endif %}>Consulta</option>
        </select><br>

        <label for="nota">Nota:</label><br>
        <input type="text" id="nota" name="nota" required {% if mensagem %}value="{{ request.form.nota }}"{% endif %}><br><br>

        <input type="submit" value="Salvar">
    </form>

    <!-- Exibir mensagem de confirmação -->
    <p id="mensagem_registro" class="{% if not mensagem %}mensagem_oculta{% endif %}">{{ mensagem }}</p>

    <!-- Campo oculto para armazenar o estado da mensagem -->
    <input type="hidden" id="mensagem_status" value="{{ 'visivel' if mensagem else 'invisivel' }}">

    <!-- Botão para registrar nova monitoria e limpar o formulário -->
    <button type="button" id="registrar_nova_monitoria">Nova Monitoria</button>

    <script>
        // Ação ao clicar no botão "Registrar Nova Monitoria"
        document.getElementById('registrar_nova_monitoria').addEventListener('click', function() {
            // Limpar os campos do formulário
            document.getElementById("formulario_monitoria").reset();
            // Ocultar a mensagem de confirmação
            document.getElementById("mensagem_registro").classList.add('mensagem_oculta');
            document.getElementById("mensagem_status").value = 'invisivel';
            // Limpar os valores dos campos do formulário
            document.getElementById("nome_analista").value = "";
            document.getElementById("data").value = "";
            document.getElementById("id_atendimento").value = "";
            document.getElementById("duracao").value = "";
            document.getElementById("nome_cliente").value = "";
            document.getElementById("categoria").value = "";
            document.getElementById("chamado").value = "";
            document.getElementById("nota").value = "";
            document.getElementById("projeto").value = "";
        });
    </script>
</body>
</html>
