<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Monitoria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.css">
</head>
<body>
    <h1>Controle de Monitorias</h1>
    <div class="container">
        <div class="content">
            <form id="filtro-form" class="form-container">
                <h2>Filtrar Monitorias</h2>
                <label for="filtro_data">Data:</label>
                <input type="date" id="filtro_data" name="filtro_data"><br>

                <label for="filtro_projeto">Projeto:</label>
                <select id="filtro_projeto" name="filtro_projeto">
                    <option value="">Todos os projetos</option>
                    <option value="Flowserve">Flowserve</option>
                    <option value="Cteep">Cteep</option>
                    <option value="Henkel">Henkel</option>
                    <option value="UUS">UUS</option>
                </select><br>

                <label for="filtro_nome_analista">Nome do Analista:</label>
                <input type="text" id="filtro_nome_analista" name="filtro_nome_analista"><br>
                
                <label for="filtro_id_atendimento">Call ID:</label>
                <input type="text" id="filtro_id_atendimento" name="filtro_id_atendimento"><br>

                <label for="filtro_chamado">Chamado:</label>
                <input type="text" id="filtro_chamado" name="filtro_chamado"><br>
                
                <label for="filtro_nome_cliente">Nome do Cliente:</label>
                <input type="text" id="filtro_nome_cliente" name="filtro_nome_cliente"><br>

                <label for="filtro_categoria">Categoria:</label>
                <select id="filtro_categoria" name="filtro_categoria">
                    <option value="">Todas as categorias</option>
                    <option value="Acessos">Acessos</option>
                    <option value="Hardware">Hardware</option>
                    <option value="Software">Software</option>
                    <option value="Consulta">Consulta</option>
                    <option value="Outros">Outros</option>
                </select><br>
                
                <label for="filtro_nota">Nota:</label>
                <input type="text" id="filtro_nota" name="filtro_nota"><br>
                
                <input type="submit" value="Filtrar">
            </form>

            
            <div class="table-scroll">
                <div class="table-container" id="monitorias-table"></div>    
            </div>
    
            <form id="formulario_monitoria" action="/registrar" method="post" class="form-container">
                    
                <h2>Registrar Monitoria</h2>
                
                <div class="mensagem">
                    <!-- Exibir mensagem de confirmação se houver mensagem -->
                    {% if mensagem %}
                    <p id="mensagem_registro" class="mensagem_visivel">{{ mensagem }}</p>
                    {% endif %}
                    <!-- Campo oculto para armazenar o estado da mensagem -->
                    <input type="hidden" id="mensagem_status" value="{% if mensagem %}visivel{% else %}invisivel{% endif %}">
                </div>

                <label for="data">Data:</label><br>
                <input type="date" id="data" name="data" required value="{{ today }}" {% if mensagem %}value="{{ request.form.data }}"{% endif %}><br>

                <label for="projeto">Projeto:</label><br>
                <select id="projeto" name="projeto" required>
                    <option value="" {% if not mensagem %}selected{% endif %}>Selecione o projeto</option>
                    <option value="Flowserve" {% if mensagem and request.form.projeto == "Flowserve" %}selected{% endif %}>Flowserve</option>
                    <option value="Cteep" {% if mensagem and request.form.projeto == "Cteep" %}selected{% endif %}>Cteep</option>
                    <option value="Henkel" {% if mensagem and request.form.projeto == "Henkel" %}selected{% endif %}>Henkel</option>
                    <option value="UUS" {% if mensagem and request.form.projeto == "UUS" %}selected{% endif %}>UUS</option>
                </select><br>

                <label for="nome_analista">Nome do Analista:</label><br>
                <input type="text" id="nome_analista" name="nome_analista" required {% if mensagem %}value="{{ request.form.nome_analista }}"{% endif %}><br>
                
                <label for="id_atendimento">Call_ID / Interaction:</label><br>
                <input type="text" id="id_atendimento" name="id_atendimento" required {% if mensagem %}value="{{ request.form.id_atendimento }}"{% endif %}><br>
            
                <label for="duracao">Duração (em minutos):</label><br>
                <input type="number" id="duracao" name="duracao" required {% if mensagem %}value="{{ request.form.duracao }}"{% endif %}><br>

                <label for="chamado">Numero do chamado:</label><br>
                <input type="text" id="chamado" name="chamado" required {% if mensagem %}value="{{ request.form.chamado }}"{% endif %}><br>
                
                <label for="nome_cliente">Nome do Cliente:</label><br>
                <input type="text" id="nome_cliente" name="nome_cliente" required {% if mensagem %}value="{{ request.form.nome_cliente }}"{% endif %}><br>
                
                <label for="categoria">Categoria do atendimento:</label><br>
                <select id="categoria" name="categoria" required>
                    <option value="Acessos" {% if mensagem and request.form.categoria == 'Acessos' %}selected{% endif %}>Acessos</option>
                    <option value="Hardware" {% if mensagem and request.form.categoria == 'Hardware' %}selected{% endif %}>Hardware</option>
                    <option value="Software" {% if mensagem and request.form.categoria == 'Software' %}selected{% endif %}>Software</option>
                    <option value="Consulta" {% if mensagem and request.form.categoria == 'Consulta' %}selected{% endif %}>Consulta</option>
                    <option value="Outros" {% if mensagem and request.form.categoria == 'Outros' %}selected{% endif %}>Outros</option>
                </select><br>

                <label for="nota">Nota:</label><br>
                <input type="number" id="nota" name="nota" required {% if mensagem %}value="{{ request.form.nota }}"{% endif %}><br>

                <label for="observacao">Observação:</label><br>
                <textarea id="observacao" name="observacao">{% if mensagem %}{{ request.form.observacao }}{% endif %}</textarea><br><br>

                <!-- Botão para salvar a monitoria -->
                <input type="submit" value="Salvar">
                
                <!-- Botão para limpar o formulário -->
                <button type="button" id="registrar_nova_monitoria">Limpar</button><br>
    
            </form>                
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#filtro-form').submit(function(event) {
                event.preventDefault(); // Evitar o envio do formulário
                filtrarTabela(); // Aplicar filtro à tabela
            });

            function filtrarTabela() {
                var projetoSelecionado = $('#filtro_projeto').val();
                var categoriaSelecionada = $('#filtro_categoria').val();
                var nomeAnalista = $('#filtro_nome_analista').val().toLowerCase();
                var idAtendimento = $('#filtro_id_atendimento').val().toLowerCase();
                var chamado = $('#filtro_chamado').val().toLowerCase();
                var nomeCliente = $('#filtro_nome_cliente').val().toLowerCase();
                var nota = $('#filtro_nota').val().toLowerCase();
                var data = $('#filtro_data').val();

                // Mostrar todas as linhas da tabela
                $('#monitorias-table table tbody tr').show();

                // Esconder linhas que não correspondem aos critérios de filtro
                if (projetoSelecionado) {
                    $('#monitorias-table table tbody tr').each(function() {
                        if ($(this).find('td:nth-child(2)').text() !== projetoSelecionado) {
                            $(this).hide();
                        }
                    });
                }
                if (categoriaSelecionada) {
                    $('#monitorias-table table tbody tr').each(function() {
                        if ($(this).find('td:nth-child(8)').text() !== categoriaSelecionada) {
                            $(this).hide();
                        }
                    });
                }
                if (nomeAnalista) {
                    $('#monitorias-table table tbody tr').each(function() {
                        if ($(this).find('td:nth-child(3)').text().toLowerCase().indexOf(nomeAnalista) === -1) {
                            $(this).hide();
                        }
                    });
                }
                if (idAtendimento) {
                    $('#monitorias-table table tbody tr').each(function() {
                        if ($(this).find('td:nth-child(4)').text().toLowerCase().indexOf(idAtendimento) === -1) {
                            $(this).hide();
                        }
                    });
                }
                if (chamado) {
                    $('#monitorias-table table tbody tr').each(function() {
                        if ($(this).find('td:nth-child(6)').text().toLowerCase().indexOf(chamado) === -1) {
                            $(this).hide();
                        }
                    });
                }
                if (nomeCliente) {
                    $('#monitorias-table table tbody tr').each(function() {
                        if ($(this).find('td:nth-child(7)').text().toLowerCase().indexOf(nomeCliente) === -1) {
                            $(this).hide();
                        }
                    });
                }
                if (nota) {
                    $('#monitorias-table table tbody tr').each(function() {
                        if ($(this).find('td:nth-child(9)').text().toLowerCase().indexOf(nota) === -1) {
                            $(this).hide();
                        }
                    });
                }
                if (data) {
                    $('#monitorias-table table tbody tr').each(function() {
                        if ($(this).find('td:nth-child(1)').text() !== data) {
                            $(this).hide();
                        }
                    });
                }
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: '/monitorias_json',
                type: 'GET',
                success: function(data) {
                    var monitorias = JSON.parse(data);
                    // Exibir os dados das monitorias na página
                    var table = '<table id="tabelaMonitorias" class="display">';
                    table += '<h2>Tabela de monitorias</h2><thead><tr><th>Data</th><th>Projeto</th><th>Nome do Analista</th><th>Call ID</th><th>Duração</th><th>Chamado</th><th>Nome do Cliente</th><th>Categoria</th><th>Nota</th><th>Observação</th></tr></thead><tbody>';
                    for (var i = 0; i < monitorias.length; i++) {
                        table += '<tr>';
                        table += '<td>' + monitorias[i].data + '</td>';
                        table += '<td>' + monitorias[i].projeto + '</td>';
                        table += '<td>' + monitorias[i].nome_analista + '</td>';
                        table += '<td>' + monitorias[i].id_atendimento + '</td>';
                        table += '<td>' + monitorias[i].duracao + '</td>';
                        table += '<td>' + monitorias[i].chamado + '</td>';
                        table += '<td>' + monitorias[i].nome_cliente + '</td>';
                        table += '<td>' + monitorias[i].categoria + '</td>';
                        table += '<td>' + monitorias[i].nota + '</td>';
                        table += '<td>' + (monitorias[i].observacao ? monitorias[i].observacao : '') + '</td>';
                        table += '</tr>';
                    }
                    table += '</tbody></table>';
                    $('#monitorias-table').html(table);

                    // Inicializar DataTables
                    if ($.fn.DataTable && $.fn.DataTable.isDataTable('#tabelaMonitorias')) {
                        $('#tabelaMonitorias').DataTable();
                    } else {
                        console.log("DataTables não foi carregado corretamente.");
                    }

                    // Exibir mensagem de confirmação se necessário
                    var mensagemStatus = $('#mensagem_status').val();
                    if (mensagemStatus === 'visivel') {
                        $('#mensagem_registro').addClass('mensagem_visivel');
                    }
                }
            });
        });
    </script>
    <script>
    // Ação ao clicar no botão "Limpar formulário"
    document.getElementById('registrar_nova_monitoria').addEventListener('click', function() {
    // Ocultar a mensagem de confirmação
    document.getElementById("mensagem_registro").classList.add('mensagem_oculta');
    document.getElementById("mensagem_status").value = 'invisivel';
    // Limpar os valores dos campos do formulário
    document.getElementById("projeto").value = "";
    document.getElementById("nome_analista").value = "";
    document.getElementById("id_atendimento").value = "";
    document.getElementById("duracao").value = "";
    document.getElementById("chamado").value = "";
    document.getElementById("nome_cliente").value = "";
    document.getElementById("categoria").value = "";
    document.getElementById("nota").value = "";
    document.getElementById("observacao").value = "";
    });
    
    function redirecionarParaPaginaInicial() {
        // Verificar se a mensagem está presente na URL
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('mensagem')) {
            // Aguardar 1 segundo e redirecionar para a URL inicial
            setTimeout(function() {
                window.location.href = "/";
            }, 2000); // 2000 milissegundos = 2 segundos
        }
    }

    // Chamar a função assim que o documento estiver pronto
    redirecionarParaPaginaInicial();

    // Verificar se a mensagem está presente na URL após o redirecionamento
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('mensagem')) {
        // Chamar a função de redirecionamento novamente
        redirecionarParaPaginaInicial();
    }
</script>
</body>
</html>
